@import url(/css/root.css);


section.login{
    width: 100vw;
    height: 60vh;

    form{
        border-radius: 2rem;
    }
}

@import url(/css/sidebar.css);

.all-products{

    .cat{
        .fa-angle-down{
            top: .4rem;
        }

        .product{
    
            img{
                width: 10rem;
                height: auto;
            }

            a{
                bottom: -3rem;
                right: 1rem;
            }
        }
    }
}
.add-product{

    button{
        left: -5rem;
        border-radius: 999px;

        .fas{
            background: #0d62Fd;
            top: -1rem;
            left: 0;
        }
    }
}
#cat-options{
    .categories{

        .modal-btns{
            top: 0;
            right: 0;
        }
        button.adding-btn-field{
            border-radius: 999px;
            width: 15rem;
            .fas{
                background: #0d62Fd;
                top: -1rem;
                left: 0;
            }
        }
    }
}